<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">

      <hooks>
          <hook type="Sitecore.Support.Commerce.Engine.Connect.Events.IndexingCompletedHook, Sitecore.Support.365655" />
      </hooks>

      <events>
          <event name="indexing:completed:remote">
              <handler type="Sitecore.Support.Commerce.Engine.Connect.Events.IndexingCompletedEventHandler, Sitecore.Support.365655" method="OnIndexingCompleted" />
          </event>
      </events>
      
      <contentSearch>
          <indexConfigurations>
              <indexUpdateStrategies>
                  
                  <sellableItemsIntervalAsynchronousStrategyMaster role:require="Standalone or ContentManagement" type="Sitecore.Commerce.Engine.Connect.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                      <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Support.365655</patch:attribute>
                  </sellableItemsIntervalAsynchronousStrategyMaster>
                  
                  <sellableItemsIntervalAsynchronousStrategyWeb type="Sitecore.Commerce.Engine.Connect.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                      <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Support.365655</patch:attribute>
                  </sellableItemsIntervalAsynchronousStrategyWeb>

                  <categoriesIntervalAsynchronousStrategyMaster role:require="Standalone or ContentManagement" type="Sitecore.Commerce.Engine.Connect.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                      <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Support.365655</patch:attribute>
                  </categoriesIntervalAsynchronousStrategyMaster>

                  <categoriesIntervalAsynchronousStrategyWeb type="Sitecore.Commerce.Engine.Connect.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                      <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Support.365655</patch:attribute>
                  </categoriesIntervalAsynchronousStrategyWeb>

                  <catalogsIntervalAsynchronousStrategyMaster role:require="Standalone or ContentManagement" type="Sitecore.Commerce.Engine.Connect.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                      <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Support.365655</patch:attribute>
                  </catalogsIntervalAsynchronousStrategyMaster>

                  <catalogsIntervalAsynchronousStrategyWeb type="Sitecore.Commerce.Engine.Connect.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Engine.Connect">
                      <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Support.365655</patch:attribute>
                  </catalogsIntervalAsynchronousStrategyWeb>
                  
              </indexUpdateStrategies>
          </indexConfigurations>
      </contentSearch>
  </sitecore>
</configuration>